# Terraform
# *.tfstate
# *.tfstate.*
.terraform/
.terraform.lock.hcl

# Environment files
.env

# Python
__pycache__/
*.pyc

# Python
__pycache__/
*.pyc

# Env files
.env

# Terraform
terraform/terraform.tfvars
*.tfvars
# .terraform/
# *.tfstate
# *.tfstate.backup

# Docker
*.log

# Mac/Linux
.DS_Store